[submodule "Plugins/unreal-immutable-sdk"]
	path = Plugins/unreal-immutable-sdk
	url = https://github.com/immutable/unreal-immutable-sdk.git
	branch = feat/blui-enabled
[submodule "Backend"]
	path = Backend
	url = https://github.com/immutable/unity-sdk-game-tutorial.git
	branch = feat/list-asset
